<footer>
  <div class="container">
    <span>© <span id="current-year"></span> Company, Inc</span>
  </div>
</footer>

<script>
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
