<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/" class="nav-link <%= currentPath === '/' ? 'active' : '' %>"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/my-blogs"
        class="nav-link <%= currentPath === '/my-blogs' ? 'active' : '' %>"
        >My Blogs</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/about"
        class="nav-link <%= currentPath === '/about' ? 'active' : '' %>"
        >About</a
      >
    </li>
    <li class="nav-item">
      <a
        href="/blog"
        class="nav-link <%= currentPath === '/blog' ? 'active' : '' %>"
        >Blog</a
      >
    </li>
  </ul>
</header>
