<div class="single-post">
  <img
    src="<%= post.image || '/images/default.jpg' %>"
    alt="<%= post.title %>"
    class="blog-single-image"
  />
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
</div>
